#scene{
    perspective: 500px;
}
#cube{
    transform-style: preserve-3d;
    transition: all 1s;
    position: relative;
}

#cube:hover{
    transform:rotateX(-90deg) translateZ(25px);
}


.face{
    position: absolute;
    left:0;
    right:0;
    width: 200px;
    height: 50px;
    border:solid 1px;
    margin:0 auto;
}

#front{
    background-color: hsla(0, 100%, 50%, .3);
    transform: translateZ(25px);
}
#top{
    background-color: hsla(120, 100%, 50%, .3);
    transform: rotateX( 90deg) translateZ(25px);
}